---
import { Picture } from 'astro:assets';
import logo from '../assets/logo.webp';
import deliveroo from '../assets/deliveroo.webp';
import takeaway from '../assets/takeaway.webp';
import uberEats from '../assets/uberEats.webp';
---

<aside class="w-14 p-2 hidden md:flex flex-col justify-between items-center">
    <ul class="flex-1 flex flex-col justify-center items-center gap-4">
      <li class="flex-1">
            <a href="/">
                <Picture src={logo} formats={['avif', 'webp']} class="w-full aspect-square" alt="" />
            </a>
        </li>
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="avatar"
            href="https://deliveroo.be/fr/menu/brussels/grand-place/lorchidee-rose/">
				<div class="mask mask-squircle w-8">
                	<Picture src={deliveroo} formats={['avif', 'webp']} alt="" />
				</div>
            </a>
        </li>
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="avatar"
            href="https://www.takeaway.com/be-fr/menu/orchidee-rose">
				<div class="mask mask-squircle w-8">
                	<Picture src={takeaway} formats={['avif', 'webp']} alt="" />
				</div>
            </a>
        </li>
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="avatar"
            href="https://www.ubereats.com/be/store/lorchidee-rose/jlxIyov6SzyuW3HU8GYPnA?diningMode=DELIVERY">
				<div class="mask mask-squircle w-8">
                	<Picture src={uberEats} formats={['avif', 'webp']} alt="" />
				</div>
            </a>
        </li>
		<li class="flex-1" />
    </ul>
</aside>