---
import logo from '../assets/logo.png';
import { Image } from 'astro:assets';
---

<header class="flex-1 flex flex-row justify-between items-center bg-white p-1 m-1 max-h-16 gap-1">
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="/menu">
        Menu
    </a>
    <div class="flex-1 flex flex-row justify-center items-center">
        <Image src={logo} alt="" srcset="">
    </div>
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="https://www.thefork.be/restaurant/l-orchidee-rose-r68222">
        Book a table
    </a>
</header>