---
import logo from '../assets/logo.png';
---

<header class="flex-1 flex flex-row justify-between items-center bg-white p-1 m-1 max-h-16 gap-1">
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="http://">
        About us
    </a>
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="/menu">
        Menu
    </a>
    <div class="flex-1 flex flex-row justify-center items-center">
        <img
        src={logo.src} alt="" srcset="">
    </div>
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="http://">
        Contact
    </a>
    <a
    class="rounded-lg border-2 border-solid border-b-black p-2"
    href="http://">
        Book a table
    </a>
</header>