<article class="flex-1 flex flex-row justify-start bg-white p-1 m-1 gap-1">
    <div class="flex flex-col">
        <a
        href="/menu/appetizers"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Appetizers
        </a>
        <a
        href="/menu/soups"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Soups
        </a>
        <a
        href="/menu/vegetarian"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Vegetarian
        </a>
        <a
        href="/menu/fish-and-shellfish"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Fish and Shellfish
        </a>
        <a
        href="/menu/poultry"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Poultry
        </a>
        <a
        href="/menu/meat"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Meat
        </a>
        <a
        href="/menu/noodles-and-rice"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Noodles and rice
        </a>
        <a
        href="/menu/dessserts"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Desserts
        </a>
        <a
        href="/menu/wines"
        class="flex-1 flex justify-center items-center rounded-lg border-2 border-solid border-b-black">
            Wines
        </a>
    </div>
    <div class="flex-1 flex flex-col justify-start items-start gap-2">
        <h2>
            Menu
        </h2>
        <p>
                Bacon ipsum dolor amet burgdoggen ribeye boudin chislic frankfurter ball tip shoulder
                pork belly prosciutto bresaola fatback ham t-bone. Leberkas sirloin tenderloin cow pork,
                andouille brisket pig spare ribs pork belly ground round.
                Buffalo swine filet mignon corned beef, tri-tip shankle boudin cow brisket cupim
                frankfurter turducken. Short ribs sirloin tri-tip leberkas. Fatback ribeye tail pork
                chop hamburger pork loin. Sirloin chislic turducken beef ribs pig rump.
        </p>
        <p>
            Pork spare ribs t-bone meatloaf rump shankle. Brisket ham ham hock, buffalo shank
            pig salami tongue spare ribs tail shankle frankfurter tenderloin beef.
            Corned beef buffalo jowl ball tip meatball. Cow sausage beef drumstick pancetta
            bresaola meatloaf strip steak short loin picanha short ribs t-bone fatback.
        </p>
    </div>
</article>