---
const { page } = Astro.params;
const pages =[
	{ name: 'Appetizers', path: 'appetizers' },
	{ name: 'Soups', path: 'soups' },
	{ name: 'Vegetarian', path: 'vegetarian' },
	{ name: 'Fish and shellfish', path: 'fish-and-shellfish' },
	{ name: 'Meat', path: 'meat' },
	{ name: 'Noodles and rice', path: 'noodles-and-rice' },
	{ name: 'Desserts', path: 'desserts' },
	{ name: 'Wines', path: 'wines' },
];

---
<ul class="menu bg-base-200 w-56">
	{pages.map((x) => (
  		<li>
			<a
				class:list={[{ 'menu-active': page === x.path }]}
				href={`/menu/${x.path}`}
			>
				{x.name}
			</a>
		</li>
	))}
</ul>