<ul x-data="{ pages: [
	{'name': 'Appetizers', 'path': '/menu/appetizers'},
	{'name': 'Soups', 'path': '/menu/soups'},
	{'name': 'Vegetarian', 'path': '/menu/vegetarian'},
	{'name': 'Fish and shellfish', 'path': '/menu/fish-and-shellfish'},
	{'name': 'Meat', 'path': '/menu/meat'},
	{'name': 'Noodles and rice', 'path': '/menu/noodles-and-rice'},
	{'name': 'Dessserts', 'path': '/menu/dessserts'},
	{'name': 'Wines', 'path': '/menu/wines'}
] }" class="p-2 flex-2/12 flex flex-col justify-between items-center gap-4">
	<template x-for="(page, index) in pages" :key="index">
		<li class="w-full h-full flex">
			<a
			class="flex-1 flex justify-center items-center"
			x-bind:href="page.path">
				<span x-text="page.name"></span>
			</a>
		</li>
	</template>
</ul>