---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<div class="navbar bg-base-100">
	<div class="navbar-start">
	</div>
	<div class="navbar-center">
	  <a class="">
		<Image src={logo} alt="L'orchidee Rose" />
	  </a>
	</div>
	<div class="navbar-end">
		<a
		href="/menu"
		class="hidden md:btn btn-primary btn-outline">
			Menu
		</a>
		<a
		target="_blank"
		rel="noopener noreferrer"
		href="https://www.thefork.be/restaurant/l-orchidee-rose-r68222"
		class="hidden md:btn btn-secondary btn-outline">
			Book a table
		</a>
	</div>
  </div>