---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<!-- <header class="h-14 p-2 flex flex-row justify-between items-center bg-white gap-1">
    <a
    class="h-12 p-2 flex-2/12 flex justify-center items-center"
    href="/menu">
        Menu
    </a>
    <div class="h-12 flex-8/12 flex flex-row justify-center items-center">
        <img
        class="h-full"
        src={logo.src} alt="" srcset="">
    </div>
    <a
    target="_blank"
    rel="noopener noreferrer"
    class="h-12 p-2 flex-2/12 flex justify-center items-center"
    href="https://www.thefork.be/restaurant/l-orchidee-rose-r68222">
        Book a table
    </a>
</header> -->

<div class="navbar bg-base-100">
	<div class="navbar-start">
		<a
		href="/menu"
		class="hidden md:btn btn-soft">
			Menu
		</a>
	</div>
	<div class="navbar-center">
	  <a class="">
		<Image src={logo} alt="L'orchidee Rose" />
	  </a>
	</div>
	<div class="navbar-end">
		<a
		target="_blank"
		rel="noopener noreferrer"
		href="https://www.thefork.be/restaurant/l-orchidee-rose-r68222"
		class="hidden md:btn">
			Book a table
		</a>
	</div>
  </div>