---
import Content from '../../components/Content.astro';
import Main from '../../layouts/Main.astro';
import MenuAside from '../../components/MenuAside.astro';

export function getStaticPaths() {
  return [
    { params: { page: "appetizers" }},
    { params: { page: "soups" }},
    { params: { page: "vegetarian" }},
    { params: { page: "fish-and-shellfish" }},
    { params: { page: "meat" }},
    { params: { page: "noodles-and-rice" }},
    { params: { page: "dessserts" }},
    { params: { page: "wines" }},
  ];
}

const { page } = Astro.params;
---
<Main>
	<Content slot="main">
		<MenuAside />
		<div class="flex-10/12">

		</div>
	</Content>
</Main>
