---
import Aside from '../../components/Aside.astro';
import Header from '../../components/Header.astro';
import MenuItem from '../../components/MenuItem.astro';
import Content from '../../components/Content.astro';
import Main from '../../layouts/Main.astro';

export function getStaticPaths() {
  return [
    { params: { page: "appetizers" }},
    { params: { page: "soups" }},
    { params: { page: "vegetarian" }},
    { params: { page: "fish-and-shellfish" }},
    { params: { page: "meat" }},
    { params: { page: "noodles-and-rice" }},
    { params: { page: "dessserts" }},
    { params: { page: "wines" }},
  ];
}

const { page } = Astro.params;
---
<Main>
	<Aside slot="aside" />
	<Header slot="header" />
	<Content slot="main">
		<MenuItem slot="content" />
	</Content>
</Main>
