---
import Content from '../../components/Content.astro';
import Main from '../../layouts/Main.astro';
import MenuAside from '../../components/MenuAside.astro';
---

<Main>
	<Content slot="main">
		<MenuAside />
		<div class="flex-10/12">

		</div>
	</Content>
</Main>
